body {
	background: black;
}

* {
	border: 1px dashed rgb(243, 239, 239) (243, 239, 239);
	min-height: 10px;
}

.postcard {
	width: 300px; /* Ajusta el ancho según lo necesites */
	height: 400px; /* Ajusta la altura */
	background-color: #f9f9f9; /* Color de fondo */
	border: 1px solid #ccc; /* Borde */
	border-radius: 10px; /* Esquinas redondeadas */
	overflow: hidden; /* Para que el contenido no se desborde */
}

.postcard-header {
	background-color: #4caf50; /* Color de fondo */
	color: white; /* Color del texto */
	padding: 10px; /* Espaciado interno */
	text-align: center; /* Centrar el texto */
	display: x;
}

.postcard-body {
	padding: 20px; /* Espaciado interno */
	text-align: left; /* Alinear texto a la izquierda */
	display: flex;
}

.postcard-footer {
	background-color: #eee; /* Color de fondo */
	padding: 10px; /* Espaciado interno */
	text-align: center; /* Alinear texto a la derecha */
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 150px;
	margin: none;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 20px;
}

input {
	border: none;
	border-bottom: grey;
	font-size: medium;
}

button {
	background-color: dimgrey;
	padding: 10px;
}
